<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
           订单
        </title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="__STATIC__/admin/css/x-admin.css" media="all">
        <link rel="stylesheet" href="__STATIC__/admin/lib/bootstrap/css/bootstrap.css">
    </head>
    <body>
        <div class="x-nav">
            <span class="layui-breadcrumb">
              <a><cite>首页</cite></a>
              <a><cite>会员管理</cite></a>
              <a><cite>轮播列表</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
        </div>
        <div class="x-body">
            <xblock><button class="layui-btn layui-btn-danger" onclick="">订单页面</button></xblock>
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" name="" value="">
                        </th>
                        <th>
                            ID
                        </th>
                        <th>
                            买家
                        </th>
                        <th>
                            买家地址
                        </th>
                        <th>
                            商品信息
                        </th>
                        <th>
                            生成时间
                        </th>
                        <th>
                            订单号
                        </th>
                        <th>
                            订单金额
                        </th>
                        <th>
                            状态
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody id="x-img">
                {foreach $order as $v}
                    <tr>
                        <td>
                            <input type="checkbox" value="1" name="">
                        </td>
                        <td>
                           {$v.id}
                        </td>
                        {foreach $add as $u}
                        {if condition="$v.uid==$u.pid"}
                        {if condition="$u.state==1"}
                        <td>
                            {$u.username}
                        </td>
                        <td >
                           {$u.address1}
                        </td>
                        {/if}
                        {/if}
                        {/foreach}
                        {foreach $good as $g}
                        {if condition="$v.gid==$g.id"}
                        <td >
                            {$g.good}
                        </td>
                        {/if}
                        {/foreach}
                        <td>
                            {$v.time|date='Y-m-d',###}
                        </td>
                        <td>
                            {$v.order}
                        </td>
                        <td>
                            {$g.price}
                        </td>
                        <td>
                        {if condition="$v.state==0"}
                            <button class="layui-btn" style="background:#ccc;">
                                未付款
                            </button>
                        {elseif condition="$v.state==1"}
                            <button class="layui-btn" style="background:#ccc;">
                                未发货
                            </button>
                        {elseif condition="$v.state==2"}
                            <button class="layui-btn" style="background:#ccc;">
                                已发货,未收货
                            </button>
                        {elseif condition="$v.state==3"}
                            <button class="layui-btn" style="background:#ccc;">
                                已收货
                            </button>
                        {/if}

                        </td>
                        <td>
                        {if condition="$v.state==0"}
                            
                                <button class="layui-btn" style="background:#ccc;">
                                    未付款
                                </button>
                        {elseif condition="$v.state==1"}
                                <a href="javascript:;" onclick="fun(this,{$v.id})">
                                    <button class="layui-btn" style="background:#;">发货</button>
                                </a>
                        {elseif condition="$v.state==2"}
                                <button class="layui-btn" style="background:#ccc;">
                                    已发货
                                </button>
                        {elseif condition="$v.state==3"}
                                <button class="layui-btn" style="background:#ccc;">
                                    已收货
                                </button>

                        {/if}
                        </td>
                            
                {/foreach}
                       
                        
        </div>
        <script src="__STATIC__/admin/lib/layui/layui.js" charset="utf-8"></script>
        <script src="__STATIC__/admin/js/x-layui.js" charset="utf-8"></script>
        <script>
            function fun(ob,id){
                $.get("{:url(\"Shop/order\")}",{id:id},function(data){
                    alert("成功");
                    window.location.reload();
                });
            }
            layui.use(['laydate','element','laypage','layer'], function(){
                $ = layui.jquery;//jquery
              laydate = layui.laydate;//日期插件
              lement = layui.element();//面包导航
              laypage = layui.laypage;//分页
              layer = layui.layer;//弹出层

              //以上模块根据需要引入

                layer.ready(function(){ //为了layer.ext.js加载完毕再执行
                  layer.photos({
                    photos: '#x-img'
                    //,shift: 5 //0-6的选择，指定弹出图片动画类型，默认随机
                  });
                }); 
              
            });

            //批量删除提交
             function delAll () {
                layer.confirm('确认要删除吗？',function(index){
                    //捉到所有被选中的，发异步进行删除
                    layer.msg('删除成功', {icon: 1});
                });
             }
             /*添加*/
            function banner_add(title,url,w,h){
                x_admin_show(title,url,w,h);
            }
             /*停用*/
            function bannerstop(obj,id){
                layer.confirm('确认不显示吗？',function(index){
                    // alert(id);
                    $.post("{:url(\"banner/bannerstop\")}",{id:id},function(data){
                        if (data>0) {
                            // 发异步把用户状态进行更改
                            $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="bannerstart(this,id)" href="javascript:;" title="显示"><i class="layui-icon">&#xe62f;</i></a>');
                            $(obj).parents("tr").find(".td-status").html('<span class="layui-btn layui-btn-disabled layui-btn-mini">不显示</span>');
                            $(obj).remove();
                            layer.msg('不显示!',{icon: 5,time:1000});
                           window.location.reload();
                        }
                    },"html");
                  
                });
            }

            /*启用*/
            function bannerstart(obj,id){
                layer.confirm('确认要显示吗？',function(index){
                    // alert(id);
                    $.post("{:url(\"banner/bannerstart\")}",{id:id},function(data){
                        if (data>0) {
                            //发异步把用户状态进行更改
                            $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="bannerstop(this,id)" href="javascript:;" title="不显示"><i class="layui-icon">&#xe601;</i></a>');
                            $(obj).parents("tr").find(".td-status").html('<span class="layui-btn layui-btn-normal layui-btn-mini">已显示</span>');
                            $(obj).remove();
                            layer.msg('已显示!',{icon: 6,time:1000});
                            window.location.reload();
                        }
                       
                    },"html");
                    
                });
            }

            // 编辑
            function banner_edit (title,url,id,w,h) {
                x_admin_show(title,url,w,h); 
            }

            
            /*删除*/
            function banner_del(obj,url){
                layer.confirm('确认要删除吗？',function(index){

                    $.post(url,function(data){
                        if(data>0){
                            layer.alert('删除成功!',{icon: 6},function(){
                                layer.msg('已删除!',{icon:1,time:1000});
                                window.location.reload();
                            })
                        }else{
                            layer.alert('删除失败!',{icon: 9});
                        }
                    });

                    //发异步删除数据
                    // $(obj).parents("tr").remove();
                    
                });
            }

           

            </script>
            <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
        </script>
    </body>
</html>